/* Write your code here. */
* {
  box-sizing: border-box;
}

.emoji-card {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  border: 2px solid #ffffff30;
  border-radius: 15px;
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  margin: 5px;
}

@media screen and (min-width: 768px) {
  .emoji-card {
    width: 140px;
    height: 140px;
  }
}

.emoji-button {
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  background-color: transparent;
}

.emoji-image {
  width: 60%;
}
