/* Write your code here. */
* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: #9796f0;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.logo-image {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .logo-image {
    width: 60px;
    height: 60px;
  }
}

.logo-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .logo-text {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 700;
    margin: 0px;
  }
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.score {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .score {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 600;
    margin-right: 20px;
  }
}
